@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins'
}

html {
    background-color: "#e7ebf0";
    font-family: 'Poppins'

}